.sidenav{
    background-color: #3F51B5;
    width: 200px;
}

.sidenav .nav-list{
    padding-top: 5rem;

}

.sidenav a{
    color: #fff;
}

.sidenav a i{
    padding-right: 10px;
}

.content{
    padding:16px;
    background-color: #fff;
    height: 100vh;
}

